@import '../../stylus/variables.styl'

.orderCard
  min-width: 455px
  height: auto
  background-color: basicColor1
  border-radius: 5px
  display: flex
  flex-direction: column
  &__table
    height: 120px
    color: basicColor1
    display: flex
    align-items: center
    padding: 0 25px
    h1
      font-weight: 400
      font-size: 2.3rem
  &__list
    height: 100%
    &--item
      display: flex
      padding: 5%
      padding-bottom: 0
      h3
        font-size: 1.8rem
        font-weight: 400
        color: #3E4651
      &Quantity
        margin-right: 40px
  &__icon
    align-self: flex-end
    padding: 0 20px 20px 0
    i
      font-size: 3.5rem
      color: color3



.redStat
  background-color: colorRed
.yellowStat
  background-color: colorYellow
.greenStat
  background-color: colorGreen