@import '../../stylus/variables.styl'

.menuCard
  width: 150px
  height: 200px
  border-radius: 20px
  &__container
    width: 100%
    height: 100%
    position: relative
    z-index: 2
    background-color:rgba(80, 133, 173, .8)
    border-radius: 20px
    overflow: hidden
    img
      width: 100%
      height: 100%
      opacity: .6
      border-radius: 20px
      object-fit: cover
      &:hover
        cursor: pointer
        opacity: .8
    &--text
      z-index: 3
      position: absolute
      bottom: 8%
      left: 10%
      line-height: 1.3
      &Title
        font-size: 1.1rem
        font-weight: 400
        color: basicColor1
      &Price
        font-size: 1.1rem
        font-weight: 600
        color: basicColor1


@media screen and (min-width: 423px)
  .menuCard
    width: 150px
    height: 280px

@media screen and (min-width: 760px)
  .menuCard
    width: 100px
    height: 150px

@media screen and (min-width: 1020px)
  .menuCard
    width: 150px
    height: 200px

@media screen and (min-width: 1400px)
  .menuCard
    width: minmax(150px, 250px)
    height: 260px
    &__container
      &--text
        &Title
          font-size: 1.5rem
        &Price
          font-size: 1.5rem