@import '../../stylus/variables.styl'

active()
  cursor: pointer
  background-color: Background
  i
    color: color8
  h1
    color: color8

.menuCategories
  width: 100%
  height: "calc(100vh - %s)" % headerHeight
  background-color: color8
  text-align: center
  position sticky
  top: headerHeight
  overflow-y: scroll
  a
    text-decoration: none
  div
    display: flex
    flex-direction: column
    justify-content: center
    &:hover
      active()
    i
      font-size: 35px
      color: Background
    h1
      color: Background
      font-size: 1rem
      font-weight: 400
  .active
    active()
  &--add
    width: 50%
    height: 80%
    margin: 0 auto
    background-color: color8
    border-radius 50%
    border: 8px solid Background
    cursor: pointer
    .fa-plus
      align-self: center
      justify-self: center
      font-size: 30px
      color: Background
    &:hover
      background-color: Background
      border-color: color8
      .fa-plus
        color: color8
  &--title
    border-bottom: 3px solid #fff
    color: #fff
    border-top: 3px solid white
    background: #204470

@media screen and (min-width: 1020px)
  .menuCategories
    div
      height: 10%
      i
        font-size: 40px
      h1
        font-size: 1.3rem
@media screen and (min-width: 1400px)
  .menuCategories
    div
      height: 12%
      i
        font-size: 65px
      h1
        font-size: 1.8rem