@import '../../stylus/variables.styl'

.LanguageButton
  padding: 5px 10px
  border: none
  background: color4
  color: white
  box-sizing: border-box
  width: 40px
  height: 40px
  margin-left: 5px
  cursor: pointer

  &:hover
    background: color6
