@import '../../stylus/variables.styl'

.LanguageButton
  padding: 3px
  padding-bottom: 6px
  border: none
  background: color4
  color: white
  box-sizing: border-box
  width: 30px
  height: 30px
  cursor: pointer
  font-size: .8rem

  &:hover
    background: color6

// @media screen and (min-width: 760px)
//   .LanguageButton
//     margin-right: 40px

@media screen and (min-width: 1400px)
  .LanguageButton
    width: 35px
    height: 35px
    font-size: 1.2rem