@import '../../stylus/variables.styl'

.Button
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  position: relative
  top: 0px
  bottom: 100px
  &__container
    border: none
    border-radius: 5px
    padding: 5px 1rem
    color: basicColor1
    font-weight: 600
    cursor: pointer
    display: flex
    justify-content: center
    align-items: center
    &--Add
      border: colorGreen
      color: colorGreen
      i
        font-size: 30px
    &--Del
      border: colorRed
      color: colorRed
      i
        font-size: 30px
    &--Cancel
      background: colorRed
    &--Confirmation
      background: colorGreen
    &--Standard
      background: #274472

.table
  width: 100%
  height 100%
  font-size: 30px
  border: 2px solid

@media screen and (min-width: 1400px)
  .Button
    bottom: 0
    &__container
      width: 100%
      padding: 2px
      padding-bottom: 4px
      font-size: 1.1rem