.Button
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    bottom: 100px
    &__container
        border: none
        padding: 1px 5px
        color: white
        cursor: pointer
        &--Cancel
            background: #E84752
        &--Confirmation
            background: #50B83C
        &--Standard
            background: #274472