@import '../../stylus/variables.styl'

.Button
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  position: absolute
  bottom: 100px
  &__container
    border: none
    border-radius: 5px
    padding: 5px 1rem
    color: basicColor1
    font-weight: 600
    cursor: pointer
    &--Cancel
      background: colorRed
    &--Confirmation
      background: colorGreen
    &--Standard
      background: #274472

@media screen and (min-width: 1400px)
  .Button
    bottom: 0
    &__container
      width: 110px
      padding: 2px
      padding-bottom: 4px
      font-size: 1.1rem
      font-weight: 600