@import '../../stylus/variables.styl'

.People
  width: 100%
  height: 100%
  padding: 10% 2% 0 2%
  background-color: color2
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  &__data
    width: 70%
    height: 60%
    &--image
      margin: 10%
      width: 75%
      height: 40%
    &--container
      margin-top: 15%
      .container__input
        height: 40px
        margin: 20px 0
        font-size: 16px
        font-family: Font1
        color: basicColor1
        display: flex
        justify-content: space-between
        align-items: center
        input
          margin-left: 5px
          padding-left: 5px
          width: 70%
          height: 30px
          border: 1px basicColor1
          background-color: color2
          border-style: none
          font-size: 16px
          color: basicColor1
          border-bottom-style: solid
  &__buttons
    width: 100%
    height: 5%
    margin-top: 10%
    display: flex
    justify-content: space-around
    button
      width: 40%
      border: none
      border-radius: 20px
      color: basicColor1
      font-size: 20px
      font-family: Font1
      font-weight: bold
    &--delete
      background-color: color5
    &--update
      background-color: color1
    &--add
      background-color: color4
