@import '../../stylus/variables.styl'

.People
  width: 100%
  height: 100%
  background-color: transparent
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  i
    align-self: flex-start
    margin: 6% 0 5% 6%
    font-size: 2.2rem
    color: basicColor1
    cursor:pointer
  &__data
    width: 70%
    height: 70%
    &--image
      margin: 0 auto
      width: 120px
      height: 120px
    &--container
      margin-top: 30px
      display: grid
      grid-template-columns: 1fr
      grid-template-rows: max-content
      .container__input
        height: 40px
        margin: 20px 0
        font-size: 1rem
        font-family: Font1
        color: basicColor1
        display: flex
        justify-content: space-between
        align-items: center
        input
          margin-left: 5px
          padding-left: 5px
          width: 70%
          height: 30px
          border: none
          border-radius: 5px
          font-size: .9rem
          font-weight: 900
          color: basicColor1
          background-color: color6
          text-align: justify
  &__buttons
    width: 100%
    height: 40px
    display: flex
    justify-content: space-evenly
    button
      width: 40%
      border: none
      border-radius: 20px
      color: basicColor1
      font-size: 1.3rem
      font-family: Font1
      font-weight: bold
      cursor: pointer
    &--delete
      background-color: colorRed
    &--update
      background-color: colorGreen
    &--add
      background-color: colorGreen

