@import '../../stylus/variables.styl'

.rightContainer
  width: 100%
  height: "calc(100vh - %s)" % headerHeight
  position: sticky
  top: headerHeight
  background-color: color8

@media screen and (min-width: 1400px)
  .rightContainer
    height: "calc(100vh - %s)" % bigHeaderHeight
    top: bigHeaderHeight