@import '../../stylus/variables.styl'

.logout
  width: 110px
  padding: 2px
  box-sizing: border-box
  padding-bottom: 4px
  background-color: colorRed
  border-radius: 5px
  color: basicColor1
  font-size: 1.1rem
  font-weight: 600
  &:hover
    cursor: pointer