@import '../../stylus/variables.styl'

.logout
  width: 110px
  padding: 2px
  padding-bottom: 4px
  background-color: color5
  border-radius: 5px
  color: basicColor1
  font-size: 1.1rem
  font-weight: 600
  display: none

@media screen and (min-width: 1400px)
  .logout
    display: block