@import '../../stylus/variables.styl'

.itemDetails
  height: 100%
  width: 100%
  box-sizing: border-box
  padding: 20px
  background-color: transparent
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  i
    align-self: flex-start
    font-size: 2rem
    color: basicColor1
    cursor: pointer
  &__image
    margin-top: 5%
    height: 30%
    width: 100%
    position: relative
    z-index: 2
    border-radius: 5px
    img
      width: 100%
      height: 100%
      object-fit: cover
  &__title
    margin-top: 2%
    width: 90%
    font-size: 1.3rem
    font-weight: 400
    color: basicColor1
  &__details
    width: 90%
    margin: 10% 0
    text-align: justify
    font-size: 1.1rem
    font-weight: 400
    color: basicColor1
  &__price
    margin-bottom: 10%
    font-size: 1.1rem
    font-weight: 900
    color: basicColor1
  &__inputText
    margin-top: 10px
    margin-bottom: 3%
    width: 75%
    height: 15%
    border: none
    border-radius: 30px
    font-size: .9rem
    font-weight: 900
    color: basicColor1
    background-color: color6
    text-align: justify
  &__addOrder
    width: 50%
    height: 6%
    border-radius: 20px
    border: none
    color: basicColor1
    font-size: 1.1rem
    font-weight: 900
    background-color: colorGreen
    cursor: pointer

@media screen and (min-width: 423px)
  .itemDetails
    span
      margin-top: 15px
      margin-bottom: 8px

@media screen and (min-width: 1020px)
  .itemDetails
    &__image
      i
        font-size: 2.2rem
    &__title
      font-size: 1.5rem
    &__inputText
      margin-top: 5%
      margin-bottom: 8%
      height: 13%
