@import '../../stylus/variables.styl'

.addItem
  height: 100%
  width: 100%
  box-sizing: border-box
  padding: 20px
  &__form
    height: 100%
    display: flex
    flex-direction: column
    align-items: center
    i
      align-self: flex-start
      font-size: 2rem
      color: basicColor1

    &--image
      width: 90%
      height: 30%
      margin-top: 20px
      margin-bottom: 20px
      display: flex
      justify-content: center
      align-items: center
      border: solid 3px basicColor1
      border-radius: 5px
      i
        font-size: 2rem
        align-self: center
        color: basicColor1
    input
      margin-top: 12px
      margin-bottom: 12px
      padding: 0 10px
      width: 200px
      height: 30px
      border: none
      border-radius: 5px
      font-size: .9rem
      font-weight: 900
      color: basicColor1
      background-color: color6
      text-align: justify
