.Main
    display: grid
    grid-template-columns: 110px 1fr 350px

.Main--Login
    display: block

@media screen and (min-width: 1400px)
    .Main
        grid-template-columns: 180px 1fr 400px