@import './variables.styl'
@import '../pages/Login/styles.styl'

*
  font-size: 15px // rem value
  padding: 0
  margin: 0
  font-family: Font1
  &:focus
    outline: none

body
  background-color: Background

// @media screen and (min-width: 423px)
// @media screen and (min-width: 760px)
// @media screen and (min-width: 1020px)
// @media screen and (min-width: 1400px)

//fontawesome icons i need
//<i className="fas fa-star"/>
//<i className="fas fa-hamburger"/>
//<i className="fas fa-ice-cream"/>
//<i className="fas fa-glass-martini"/>
//<i className="fas fa-bread-slice"/>
//<i className="fas fa-cookie-bite"/>
//<i className="fas fa-shopping-basket"/>
//<i className="fas fa-arrow-circle-left"/>
//<i className="fas fa-check-square"/>
//<i className="fas fa-sticky-note"/>
//grid<i className="fas fa-th"/>
//<i className="fas fa-bars"/>
//<i className="fas fa-sort-down"/>
//<i className="fas fa-angle-down"/>