@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap")
// Global Variables

Font1 = 'Noto Sans JP', sans-serif
Font2 = tomarik-introvert, sans-serif
Font3 = tomarik-brush,sans-serif

basicColor1 = white
basicColor2 = black

Background = #E1E2E1

color1 = #3E4651
//rgba(62, 70, 81, 1)

color2 = #262C36
//rgba(38, 44, 54, 1)

color3 = #7ECfEE
//rgba(126, 207, 238, 1)

color4 = #5085AD
//rgba(80, 133, 173, 1)

color5 = #37729D

color6 = #204470

color7 = #0D52AC

color8 = #4c6f9d

colorRed = #E84752
colorRedDark = #D71147

colorGreen = #50B83C

colorYellow = #C9D837


