// Global Variables

Font1 = SegoeUI, sans-serif
Font2 = Dubai, sans-serif
Font3 = Tomarik Brush, sans-serif

basicColor1 = white
basicColor2 = black

color1 = #3E4651
//rgba(62, 70, 81, 1)

color2 = #262C36
//rgba(38, 44, 54, 1)

color3 = #7ECfEE
//rgba(126, 207, 238, 1)

color4 = #5085AD
//rgba(80, 133, 173, 1)

color5 = #D71147

color6 = #204470