.MenuGrid
  max-width: 1024px
  min-width: 320px
  height: 100%
  margin: 2% auto 0 auto
  display: grid
  grid-template-columns: repeat(4, minmax(180px, 340px))
  grid-gap: 2%
  overflow-y: auto
  padding: 0 8% 0 3%