@import '../../stylus/variables.styl'

.MenuGrid
  height: 100%
  display: grid
  grid-template-columns: repeat(2, 45%)
  grid-auto-rows: 200px
  grid-gap: 1% 2%
  justify-content: center
  overflow-y: scroll
  box-sizing: border-box;
  &--add
    width: 100%
    height: 100%
    background-color: Background
    border-radius 5px
    border: 8px solid colorGreen
    cursor: pointer
  .fa-plus
    align-self: center
    justify-self: center
    font-size: 40px
    color: colorGreen

@media screen and (min-width: 760px)
  .MenuGrid
    padding: 15px 5% 20%
    grid-template-columns: repeat(4, 25%)
@media screen and (min-width: 1020px)
  .MenuGrid
    grid-template-columns: repeat(4, 25%)

@media screen and (min-width: 1400px)
  .MenuGrid
    grid-template-columns: repeat(5, 1fr)
    grid-auto-rows: 300px