@import '../../stylus/variables.styl'

.Profile
  display: flex
  flex-wrap: wrap
  &__Title
    padding: 2% 0 0 5%
    color: color8
    font-family: Font1
    font-size: 2em
  &__ChefGrid
  &__WaiterGrid
    padding: 2% 8% 0 5%
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-gap: 2%
  &--add
    background-color: color1
    border-radius 50%
    border: 15px solid basicColor1
  .fas
    align-self: center
    justify-self: center
    font-size: 50px
    color: basicColor1

@media screen and (min-width: 310px)
  .Profile
    &__ChefGrid
    &__WaiterGrid
      margin: 20px 0
      padding: 0 5% 0 5%
      grid-template-columns: repeat(2, 80px)
      grid-auto-rows: 80px

@media screen and (min-width: 760px)
  .Profile
    &__ChefGrid
    &__WaiterGrid
      padding: 0 10%
      grid-template-columns: repeat(3, 100px)
      grid-auto-rows: 100px

@media screen and (min-width: 1020px)
  .Profile
    &__ChefGrid
    &__WaiterGrid
      padding: 0 5%
      grid-template-columns: repeat(4, 120px)
      grid-auto-rows: 120px

@media screen and (min-width: 1400px)
  .Profile
    flex-direction: column
    &__ChefGrid
    &__WaiterGrid
      padding: 0 5%
      grid-template-columns: repeat(5, 120px)
      grid-auto-rows: 120px
