@import '../../stylus/variables.styl'

.orders
  padding: 20px
  display: grid
  // grid-template-columns: repeat(auto-fill, minmax(455px, 1fr))
  grid-template-columns: repeat(4, 1fr)
  grid-template-rows: masonry
  grid-gap: 20px
