@import '../../stylus/variables.styl'

.redStat
  background-color: colorRed
.yellowStat
  background-color: colorYellow
.greenStat
  background-color: colorGreen

.kitchenModal
  width: 40%
  height: 100px
  position: fixed
  z-index: 25
  top: 18%
  left: 30%
  border-radius: 5px
  &__table
    height: 80px
    color: basicColor1
    display: flex
    align-items: center
    padding: 0 25px
    h1
      font-weight: 400
      font-size: 1.8rem
  &Content
    background-color: basicColor1