@import '../../stylus/variables.styl'

.Admin
  width: 30%
  height: 100%
  // display: none
  position fixed
  z-index: 11
  right: 0
  top: 10%
  background-color: color2
  display: flex
  flex-direction: column
  align-items: center
  &__logo
    margin: 10%
    width: 70%
    height: 28%
    position: relative
    z-index: 2
    img
      width: 100%
      height: 100%
  &__container
    width: 100%
    height: 30%
    color: basicColor1
    text-align: center
    span
    h2
      font: 25px Font1
      margin: 5%
    .a
      text-transform: uppercase
    .b
      color: color3